.git
.github
.pytest_cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
.venv/
venv/
node_modules/
data/
model_storage/
*.csv
*.parquet
*.joblib
*.pt
*.keras
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate*
.vscode/
