--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.68.1
uvicorn==0.15.0
python-multipart==0.0.5
pydantic-settings==2.0.3
supabase==1.0.2
redis[asyncio]==5.0.0
celery==5.2.3
boto3==1.40.59
torch==2.8.0+cpu
pandas==3.0.1
scikit-learn==1.8.0
joblib==1.5.2
python-dotenv==0.19.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
httpx==0.23.3
